*{
  margin: 0;
  padding: 0;
}
.awsmain{
  background-image: url("./Images/AWS-home-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh;
}