*{
  margin: 0;
  padding: 0;
}

.customCard .card{
  transition: transform 0.8s;
  transform: scale(0.9);
  border: none !important;
}
.customCard .card:hover {
  transform: scale(1.0);
  border: none !important;
}

.flip-card {
  min-height: 350px;
  height: 100%;
  width: 100%;
  max-width: 300px; 
  margin: 10px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: gray 7px 7px 15px;
}

.flip-card-front {
  /* background-color: rgb(14, 46, 78); */
  background-color: white;
  /*background-image: url("./Images/capability1.webp"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front h3 {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  margin:0px 40px;
  /* color: rgb(252, 251, 251); */
}
.portfoliohead{
  min-height: 80px;
}

.ourcapabilities-grid , .ourserviceportfolio-grid{
  display: grid;
  gap: 16px;
}

/* Navbar toggle button */
.toggle{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  padding: 5px;
  background-color: #E8E8E8;
  color: #FE0000;
  cursor: pointer;
  text-align: center;
  
}
#offcanvasRight{
  width: 290px;
  background: #75ACD5;
  color: white;
}
.offcanvas.slide {
  transition-duration: 0.4s; 
}

.navbar.scrolled {
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#homelink , #aboutusDropdown, #industriesDropdown, #servicesDropdown, #solutionsDropdown, #contactlink, #csrlink, #careersDropdown{
  color: black;
}
#navbarNavDropdown #aboutusDropdown:hover, 
#industriesDropdown:hover, 
#solutionsDropdown:hover, 
#careersDropdown:hover , 
#servicesDropdown:hover,
#csrlink:hover,
#contactlink:hover,
#homelink:hover{
  color:red;
  transition: 0.4s;
}


.text-red {
  color: red !important;
}

/* scroll bar css start*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 6px; 
}
::-webkit-scrollbar-track {
  background: #dad7d7;
}
::-webkit-scrollbar-thumb:hover {
  background: red;
}
/* scroll bar css end*/

/* Dropdown hover line animation */
.dropdown-menu li {
  margin-bottom: 2px;
}
.lineAnimation {
  display: inline-block;
  color:blue;
  text-decoration: none;
}
.lineAnimation::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: blue;
  transition: width .9s;
}
.lineAnimation:hover::after {
  width: 100%;
  transition: width .9s;
}

/* .btn-with-hover {
position: relative;
display: inline-flex;
align-items: center;
gap: 10px; 
padding: 8px;
color: #fff;
border: 2px solid #fff;
background-color: blue; 
overflow: hidden; 
transition: color 0.3s ease; 
z-index: 1;
border-radius: 8px;
}

.btn-with-hover::before {
content: '';
position: absolute;
top: 0;
left: -100%; 
width: 100%;
height: 100%;
background-color: red; 
transition: left 0.4s ease; 
z-index: -1; 
}

.btn-with-hover:hover::before {
left: 0; 
} */

@keyframes ripple {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.4);
}
100% {
  transform: scale(1);
}
}
/* Animation to the dropdown menus */
@keyframes scaleDown {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown-menu {
  display: none; 
  animation: scaleDown 400ms ease-out;
  transform-origin: top center;
  background-color: #f8f9fa; 
  border-radius: 0 !important; 
  border-top: 3px solid blue !important;
  outline: none !important;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block; 
}

.dropdown-item {
  background-color: #f8f9fa;
}

.dropdown-item:hover {
  background-color: #e9ecef;
}

.dropdown-menu .dropdown-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.dropdown-menu .dropdown-menu {
  position: absolute;
  top: 0;
  left: -61%;
  margin-top: 0;
}

/* footer start */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
  background-color: #E8E8E8;
  padding: 20px 30px 20px 30px;
}
.nasscom{
  flex: 23%;
}
.keylinks{
  flex: 25%;
}
.getintouch{
  flex: 24%;
}
.followus{
  flex: 18%;
}
.flexgrowdiv {
  padding: 20px;
  /* flex: 23%; */
}
.keylinks li{
  border-bottom: 1px solid rgb(41, 207, 210);
}
.nasscom img{
  width: 290px;
  height: 50px;
}
.followus img{
  height: 40px;
  transition: transform 0.8s;
  cursor: pointer;
}
.followus img:hover{
  transform: rotate(360deg);
}
.keylinks a{
  color: rgb(40, 39, 39);
}
.keylinks a:hover{
  color: rgb(213, 150, 24);
}

/* footer end */

/* footer end */
.no-select {
  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

.nav-a{
  text-decoration: none;
  color: black;
}

/* Side navbar */
.sidenavbardiv{
  line-height: 10px;
}
.sidenavbardiv a{
  color: white;
  transition: 0.4s;
}
.sidenavbardiv a:hover
{
  color: red;
  transition: 0.4s;
}

.rotate-down {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}

.rotate-down:not(.rotate) {
  transform: rotate(0);
}

.aboutchilds {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.aboutchilds.show {
  max-height: 1000px; 
  transition: max-height 0.9s ease-in-out;
}
.aboutchilds a{
  line-height: 15px;
} 

#navbarNavDropdown .dropdown a:active{
  background-color: white;
}

.rotate-down {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}

.rotate-down:not(.rotate) {
  transform: rotate(0);
}

@media (max-width: 575.98px) {
  .ourcapabilities-grid , .ourserviceportfolio-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .nasscom img{
    width: 260px;
    height: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ourcapabilities-grid, .ourserviceportfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex-container {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .ourcapabilities-grid , .ourserviceportfolio-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .contactdiv{
    height: 530px;
  }
 
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .ourcapabilities-grid, .ourserviceportfolio-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .flip-card {
    min-height: 380px;
  }
  .portfoliohead{
    min-height: 100px;
  }
   .contactdiv{
    height: 530px;
  }
}

@media (min-width: 1200px) {
  .ourcapabilities-grid, .ourserviceportfolio-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .contactdiv{
    height: 530px;
  }
}