*{
  margin: 0;
  padding: 0;
}
.awsmain{
  background-image: url("./Images/AWS-home-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh;
}

.footerBanner{
  background: url("./Images/footer.jpg");
  height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footerHr{
  position: relative;
  left: 90px;
}